/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #BA007C; /* Color verde */
}

/* Formulario para subir el archivo de audio */
form {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los inputs */
input[type="file"] {
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Efecto hover para el botón */
button:hover {
    background-color: #45a049;
}

/* Estilo para el contenedor de resultados */
#resultado {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para la sección del micrófono */
#micResultado {
    text-align: center;
    margin-top: 30px;
}

/* Estilo para el texto del micrófono */
#micTexto {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
    font-style: italic;
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    #resultado {
        width: 100%;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
